<lib-file-up  type="file"  accept=".txt,.pdf"  (fileUploaded)="onFileUploaded($event)" [schema]="'base64'" labelname="upload the folder" #ipdata alldata="ipdata"></lib-file-up>


<!-- <button (click)="onclickbutton()">get Details</button>
<p>{{error}}</p>
<table>
    <tr>
        <th>TYPE</th>
        <th>NAME</th>
        <th>SIZE</th>
        <th>LAST MODIFIED</th>
    </tr>
    <tr *ngFor="let da of data">
        <td>{{da.type}}</td>
        <td>{{da.name}}</td>
        <td>{{da.size}}</td>
        <td>{{da.lastModified}}</td>
    </tr>
</table> -->

